/* Seção Hobbies */
.hobbies{
    margin-top: -7px;
    background-color: var(--cor-secundaria);
}
.hobbies h2{
    color: var(--cor-font);
    text-align: center;
}
.container-hobbies{
    max-width: 1000px;
    padding: 70px 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}
.container-hobbies > div{
    flex: 1 0 200px;
    height: auto;
    background-color: var(--cor-primaria);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-font);
    box-shadow: var(--shadow-elevation-medium);
}
.container-hobbies div i{
    flex: 0 1 100px;
    font-size: 3rem;
    color: var(--cor-destaque);
    text-shadow: .5px .5px 0 #fff;
}
.container-hobbies div p{
    flex-basis: 60%;
    color: var(--cor-font);
    font-size: .9rem;
    padding: 10px;
}
.weve-hobbies{
    background-color: var(--cor-primaria);
}