/* Cabeçalho */
header {
    position: relative;
    width: 100%;
    min-height: 100%;
    background-color: var(--cor-primaria);
    background-image: url(../img/slopes.webp);
    background-attachment: fixed;
    padding: 10px 0;
}
header::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), var(--cor-primaria));
}
.logo{
    position: fixed;
    top: -1px; 
    right: 0;
    width: 100%;  
    height: 60px;  
    background-color: var(--cor-primaria);
    box-shadow: .2px .2px 3px rgba(0, 0, 0, 0.527);
    z-index: 10;
}
.logo > img{
    display: block;
    width: 65px;
}
.logo i{
    position: absolute; 
    top:15px; 
    right: 75px;
    color: var(--cor-destaque); 
    font-size: 32px; 
}
.apresentacao{
    position: relative;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
}
.banner{
    position: relative;
    margin-top: 100px;
    max-width: 500px;
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: .5rem;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    z-index: 2;
}
.banner h1 {
    width: 100%;
    font-family: var(--font-primary);
    font-size: 3.5em;
    font-weight: 500;
    text-shadow: 1px 1px 2px #000000;
    line-height: 3.5rem;
    animation: MoveBanner 1s;
}
.banner p { 
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px #000000;
    margin: .5rem 0  1rem .5rem;
    animation: MoveBanner 1.2s;
}
.banner span{
    background-color: #bc56e4;
    padding: 0 3px;
}
.banner button{
    position: relative;
    margin-left: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    vertical-align: middle;
    background-color: #fff;
    padding: 5px;
    border: 1px solid var(--cor-destaque);
    border-radius: 3px;
    box-shadow: 2px 2px 5px var(--cor-primaria);
}
.banner img{
    display: inline-block;
    width: 50px;
    vertical-align: middle;
    margin-left: 20px;
    -webkit-filter: contrast(150%);
    background-color: #fff;
    padding: 5px;
    border: 1px solid var(--cor-destaque);
    border-radius: 50%;
    cursor: pointer;
    transition: 100ms ease-in;
}
@keyframes MoveBanner {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}
.img-wrapper {
    position: absolute;
    top: -50px;
    right: 80px;
}
.img-wrapper img {
    width: 500px;
    animation: flutuar 5s ease-in-out infinite;
}
@keyframes flutuar {
    0%{
        transform: rotateX(0);
        margin-top: 0;
    }
    50%{
        transform: rotateX(25deg);
        margin-top: 50px;
    }
    0%{
        transform: rotateX(0);
        margin-top: 0;
    }
}
.menu-hamburguer {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1s;
}
.line {
    width: 100%;
    height: 3px;
    background-color: var(--cor-destaque);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.336);
    transition: 1s;
}
.show-menu #line1 {
    transform: rotate(40deg) translate(5px, 10px);
}
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    transform: rotate(-45deg) translate(5px, -10px);
}
.sidebar {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #0e141b85;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 1s;
    z-index: 2;
}
.show-menu .sidebar{
    right: 0;
}
.menu{
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
}
.menu-item, .menu-link {
    list-style: none;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-shadow: .5px .5px 0 #fff;
    transition: 5ms ease-in;
}
.social-media {
    position: absolute;
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    text-shadow: .5px .5px 0 #fff;
    bottom: 2rem;
    justify-content: space-evenly;
}
.social-media i {
    color:  var(--cor-destaque);
    transition: 10ms ease-in;
}
.weve-header{
    background-color: var(--cor-secundaria);
}
/* Sobre mim */
.sobre-mim{
    margin: -5px 0 ;
    background-color: var(--cor-secundaria);
    padding: 50px 0;
}
@keyframes backgroundMove {
    0%{
       background-position: 0% 50%;
    }
    50%{
       background-position: 100% 50%;
    }
    100%{
       background-position: 0% 50%;
    }
}
.sobre-mim-container{
    position: relative;
    max-width: 800px;
    margin: auto;
    /* box-shadow: var(--shadow-elevation-medium); */
}
.sobre-mim-container div:first-child{
    position: relative;
    width: 100%;
    height: auto;
    /* background-color: var(--cor-destaque); */
    border-radius: 7px 7px 0 0;
}
.sobre-mim-container h3{
    text-align: center;
    font-size: 1.5rem;
    color: var(--cor-font);
}
.sobre-mim-container div:last-child{
    position: relative;
}
.sobre-mim-container img{
    display: none;
    position: absolute;
    top: -140px;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
    border: 2px solid var(--cor-destaque);
    border-radius: 50%;
    box-shadow: var(--shadow-elevation-medium);
}
.sobre-mim-container p{
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #fff;
    padding: 10px;
    border-radius: 0 0 7px 7px;
}
/* Seção conhecimentos */
.secao-conhecimentos{
    background-color: var(--cor-secundaria);
    padding: 50px 0;
}
.secao-conhecimentos h2{
    text-align: center;
    color: var(--cor-font);
}
.container-conhecimentos{
    max-width: 1000px;
    margin: 50px auto; 
    display: flex;
    flex-wrap: wrap;
}
.container-conhecimentos div{
    flex: 1 1 300px;
    background-color: var(--cor-primaria);
    margin: 15px;
    padding: 10px;
    border-radius: 7px;
    box-shadow: var(--shadow-elevation-medium);
}
.container-conhecimentos div i{
    font-size: 2rem;
    background: -webkit-linear-gradient(right, hsl(283, 100%, 45%) 60%, hsl(283, 100%, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.container-conhecimentos div h3{
    font-size: 2rem;
    background: -webkit-linear-gradient(right,hsl(283, 100%, 45%) 60%, hsl(283, 100%, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container-conhecimentos p{
    color: var(--cor-font);
}
.weve-conhecimentos{
    background-color: var(--font-primary);
}
/* Seção certificados */
.secao-certificados{
    position: relative;
    width: 100%;
    padding-bottom: 50px;
}
.container-certificados{
    max-width: 1000px;
    margin: auto;
}
.container-certificados h2{
    text-align: center;
    margin: 0  0 50px 0;
}
.container-certificados h2{
    color: var(--cor-font);
}
.certificados{
    position: relative;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}
.certificado div{
    width: 100%;
    border-radius: 7px;
    box-shadow: var(--shadow-elevation-medium);
}
.certificado img{
   display: block;
   width: 100%;
   border: 1px solid var(--cor-destaque);
   border-radius: 7px;
}
.slide-button{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.slide-button button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border: .5px solid var(--cor-destaque);
    background-color: var(--cor-font);
    color: var(--cor-destaque);
    padding: 5px;
    box-shadow: var(--shadow-elevation-medium);
    cursor: pointer;
}
.slide-button button:first-child{
    left: 0;
    border-radius: 0 5px 5px 0;
}
.slide-button button:last-child{
    right: 0px;
    border-radius: 5px 0 0 5px;
}
.slide-button button img{
    display: block;
    width: 100%;
    transition: .5s ease-in;
}
.slide-button button img:hover{
    height: 70%;
}
.weve-certificados{
    background-color: var(--cor-secundaria);
}
/* Seção GitHub */
.info-github{
    position: relative;
    margin-top: -5px;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: var(--cor-secundaria);
}
.github-container{
    max-width: 1000px;
    margin: auto;
}
.github-container h2{
    margin-bottom: 50px;
    text-align: center;
    color: var(--cor-font);
}
.github-atividade{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.github-atividade div{
    margin: 20px 15px;
    max-width: 450px;
    border: 1px solid var(--cor-font);
    border-radius: 7px;
    padding: 10px;
    box-shadow: var(--shadow-elevation-medium);
}
.github-atividade div:nth-child(2),
.github-atividade div:nth-child(3){
    background-color: var(--cor-destaque);
}
.github-atividade img{
    border-radius: 5px;
    width: 100%;
}
.github-atividade p{
    font-size: 1rem;
    color: var(--cor-font);
}
.weve-github{
    background-color: var(--cor-primaria);
}
.github-container button{
    display: block;
    margin: 50px auto 0 auto;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #fff;
    padding: 5px;
    border: 1px solid var(--cor-destaque);
    border-radius: 3px;
    box-shadow: 2px 2px 5px var(--cor-primaria);
}
/* Sessão projetos */
.projetos{
    position: relative;
    padding-bottom: 50px;
}
.container-projetos{
    max-width: 1200px;
    margin: auto;
}
.container-projetos h2{
    text-align: center;
    margin-bottom: 70px;
    color: var(--cor-font);
}
.card-projetos{
    display: flex;
    flex-wrap: wrap;
}
.card{
    position: relative;
    flex: 1 1 300px;
    min-height: 250px;
    margin: 15px;
    background-color: hsl(231, 15%, 18%);
    border: .5px solid var(--cor-destaque);
    box-shadow: var(--shadow-elevation-medium);
    border-radius: 10px;
    overflow: hidden;
    transition: .3s ease-in;
}
.card-capa{
    position: absolute;
    width: 100%;
    min-height: 100%;
    filter: contrast(70%);
    transition: 250ms ease-in;
    z-index: 1;
}
.card-text{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    background: var(--cor-secundaria);
    background: -webkit-linear-gradient(to right, hsl(204, 31%, 13%), hsl(231, 15%, 18%));
    background: linear-gradient(to right, hsl(204, 31%, 13%), hsl(231, 15%, 18%));  
    border-radius: 10px;
}
.card-text h3{
    text-align: center;
    color: var(--cor-font);
    font-size: 1.7rem;
}
.card-text h4{
    font-family: var(--font-primary);
    font-size: 1.4rem;
    background: -webkit-linear-gradient(right, hsl(283, 100%, 45%) 60%, hsl(283, 100%, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card-text p{
    margin: 10px 0;
    font-family: var(--font-secundary);
    font-size: 1rem;
    color: var(--cor-font);
}
.card-text button{
    width: 80px;
    font-size: 1.4rem;
    padding: 3px;
    border: 2px solid var(--cor-destaque);
    border-radius: 5px; 
    cursor: pointer;
}
.weve-projetos{
    background-color: var(--cor-secundaria);
}
/* Seção Hobbies */
.hobbies{
    margin-top: -7px;
    background-color: var(--cor-secundaria);
}
.hobbies h2{
    color: var(--cor-font);
    text-align: center;
}
.container-hobbies{
    max-width: 1000px;
    padding: 70px 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    align-items: center;
}
.container-hobbies > div{
    flex: 1 0 200px;
    height: auto;
    background-color: var(--cor-primaria);
    border-radius: 7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--cor-font);
    box-shadow: var(--shadow-elevation-medium);
}
.container-hobbies div i{
    flex: 0 1 100px;
    font-size: 3rem;
    color: var(--cor-destaque);
    text-shadow: .5px .5px 0 #fff;
}
.container-hobbies div p{
    flex-basis: 60%;
    color: var(--cor-font);
    font-size: .9rem;
    padding: 10px;
}
.weve-hobbies{
    background-color: var(--cor-primaria);
}
footer{
    margin-top: -5px;
    position: relative;
    padding-bottom: 10px;
    width: 100%;
    background-color: var(--cor-primaria); 
    background-image: url(../img/slopes.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    color: var(--cor-font);
    overflow: hidden;
}
footer .luzes{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -1px 1px 5px #fff;
    animation: piscar 5s ease-in infinite;
}
.luzes:nth-child(1){
    top: 20%;
    left: 70%;
}
.luzes:nth-child(2){
    top: 10%;
    left: 90%;
    animation-delay: 700ms;
}
.luzes:nth-child(3){
    top: 5%;
    left: 85%;
    animation-delay: 2s;
}
.luzes:nth-child(4){
    top: 2%;
    left: 1%;
    animation-delay: 500ms;
}
.luzes:nth-child(5){
    top: 15%;
    left: 15%;
    animation-delay: 1s;
}
.luzes:nth-child(6){
    top: 17%;
    left: 55%;
    animation-delay: 2s;
}
.luzes:nth-child(7){
    top: 12%;
    left: 60%;
    animation-delay: 3s;
}
.luzes:nth-child(8){
    top: 9%;
    left: 80%;
    animation-delay: 100ms;
}
.luzes:nth-child(9){
    top: 2%;
    left: 50%;
    animation-delay: 800ms;
}
.luzes:nth-child(10){
    top: 13%;
    left: 30%;
    animation-delay: 200ms;
}
.luzes:nth-child(11){
    top: 0;
    left: 20%;
    animation-delay: 1.5s;
}
.luzes:nth-child(12){
    top: 18%;
    left: 40%;
    animation-delay: 600ms;
}
.luzes:nth-child(13){
    top: 16%;
    left: 10%;
    animation-delay: 900ms;
}
.luzes:nth-child(14){
    top: 10%;
    left: 90%;
    animation-delay: 300ms;
}
@keyframes piscar {
    0%{
        transform: scale(0.0);
    }
    50%{
        transform: scale(1.1);
    }
    0%{
        transform: scale(0.0);
    }
}
footer .mensagem-contato{
    text-align: center;
    font-weight: bolder;
    font-size: 1.3rem;
    max-width: 500px;
    margin: 0 auto 50px auto;
    padding: 20px;
    background: -webkit-linear-gradient(right, hsl(283, 100%, 45%) 60%, hsl(283, 100%, 71%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: .5px .5px 0 #fff;
}
footer .contato{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    height: 100%;
}
.contato div{
    position: relative;
    margin-top: 50px;
    max-width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
}
.contato div img{ 
    position: relative;
    margin: 0px;
    width: 100%;
    height: 100%;
    filter: contrast(130%);
    border: 5px solid transparent;
    border-radius: 50%;
    z-index: 1;
}
.contato div::before{
     content: "";
     width: 140px;
     height: 120%;
     position: absolute;
     top: -10%;
     left: 30%;
     transform: translate(-50%, -50%);
     background-color: var(--cor-destaque);
     margin: 0;
     animation: rodar 5s linear infinite;
     z-index: 0;
} 
@keyframes rodar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
footer form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 0 1 400px;
    width: 100%;
    font-family: var(--font-primary);
    font-size: 1.3rem;
    max-width: 500px;
    padding: 5px;
}
footer input{
    height: 50px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-destaque);
    background-color: transparent;
    padding: 0;
    color: #fff;
    caret-color: var(--cor-destaque);
}
footer input::placeholder, 
textarea::placeholder{
    color: var(--cor-font);
}
footer textarea{
    background: #14171a2f;
    background: -webkit-linear-gradient(to right, #971ac954, #971ac90a);
    background: linear-gradient(to right, #971ac954, #971ac90a); 
    color: #fff;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    caret-color: var(--cor-destaque);
    padding: 5px;
}
.mensagem-erro{
    padding: 5px 0;
    color: #ff0000;
}
.copy{
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-family: var(--font-secundary);
}
.copy p{
    font-size: 1rem;
}
.copy a{
    border-left: 3px solid var(--cor-destaque);
    padding-left: 7px;
    text-shadow: .5px .5px 0 #fff;
}
/* Botao 3D */
.pushable {
    position: relative;
    margin-top: .7rem;
    width: 9rem;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
  }
  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
      to left,
      hsl(283, 77%, 45%) 0%,
      hsl(283, 89%, 28%) 8%,
      hsl(283, 89%, 28%) 92%,
      hsl(283, 77%, 45%) 100%
    );
  }
  .front {
    display: block;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-family: var(--font-action);
    font-weight: 700;
    font-size: 1.25rem;
    color: white;
    background: hsl(283, 77%, 45%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
      transform
      600ms
      cubic-bezier(.3, .7, .4, 1);
  }
  .pushable:hover {
    filter: brightness(110%);
  }
  .pushable:hover .front {
    transform: translateY(-6px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .front {
    transform: translateY(-2px);
    transition: transform 34ms;
  }
  .pushable:hover .shadow {
    transform: translateY(4px);
    transition:
      transform
      250ms
      cubic-bezier(.3, .7, .4, 1.5);
  }
  .pushable:active .shadow {
    transform: translateY(1px);
    transition: transform 34ms;
  }
  .pushable:focus:not(:focus-visible) {
    outline: none;
  }
.link-topo{
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    color: var(--cor-destaque);
    background: var(--cor-secundaria);
    box-shadow: 1px 1px 3px var(--cor-font);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.fa-arrow-up{
    text-shadow: .1px .1px 1px #fff;
}
@media (max-width: 650px) {
    .img-wrapper{
       display: none;
    }
    .sobre-mim-container, 
    .github-container div, 
    .container-hobbies div{
        box-shadow: none;
    }
    .banner{
        backdrop-filter: none;
    }
    .github-atividade div, 
    .card, 
    .container-hobbies div{
        border: none;
    }
    .card-capa{
        display: none;
    }
    .contato div{
        margin-top: 50px;
        max-width: 300px;
        height: 300px;
    }
}