/*-- CSS para dispositivos de tela pequena --*/

@media (max-width: 750px){

html, body{
    margin: 0;
    padding: 0;
    border: 0;
    min-width: 375px;
    background-color: rgb(248, 247, 247);
    overflow-x: hidden;
}

header#home {
    min-width: 375px;
    width: 100%;
    height: 70vh;
}
    
.img-wrapper {
    width: 100%;
    height: 100%;
}
    
.img-wrapper img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
      
.banner {
    top: 15%;
    left: 5%;
}
    
.banner h1 {
    width: 95%;
    font-size: 2.5rem;
    line-height: 3rem;
    margin-top: 0;
    margin-bottom: 2rem;
}
    
.banner p {
    font-size: 1.5rem;
}
    
.banner button {
    font-size: 0.7rem;
}
    
.sidebar {
    width: 15rem;
    height: 100vh;
}
    
.show-menu .sidebar {
    right: 0;
}

.hamburguer{
    right: .7rem;
}

a#link-topo{
    right: .7rem;
}
    
.menu {
    top: 40%;
    left: 50%;
}

.social-media{
    font-size: 1.3rem;
}

.sessao-conhecimentos{
    min-width: 375px;
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
}
    
.conhecimentos{
    width: 90%;
    display: block;
    justify-content: center;
    justify-items: center;
    margin: auto;
    padding: 1rem 1rem;
}
    
.sessao-header{
    text-align: center;
}
    
.sessao-header h2{
    font-size: 2rem;
    margin-top: 2rem;
}

.conhecimento{ 
    width: 80%;     
    padding: .8rem;
    margin: 2rem auto;
    border: 1px solid black;
    box-shadow: 0 .1rem .4rem black;
}
    
.conhecimento-header{
    display: block;
    text-align: center;
    align-items: center;
    }
    
.conhecimento-text{
    text-align: center;
}
    
.conhecimento-img{
    max-width: 100%;
    margin: 4rem 0;
}

.conhecimento-img img{
    max-width: 450px;
    margin-right: 0;
}

/*--Linha divisória entre sessões, na diagonal.--*/

.divisao-top{
    right: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #2c2a2c;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top left;
}

.divisao-button{
    right: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #2c2a2c;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
}

.sessao-projetos{
    min-width: 375px;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0 0 3rem 0;
    justify-content: center;
    align-items: center;
    background-color: #2c2a2c;
    border: transparent;
    border-radius: 0;
}

#h2-projetos{
    color: white;
}
    
.projetos{
    display: block;
    margin: 1rem 0;
    padding: 0;
}
    
.card{
    width: 16rem;
    height: 22rem;
    margin: 1rem auto;
    align-items: center;
}
    
    
.card-img{
    width: 100%;
    height: 100%;
    margin: 1rem auto;
    align-items: center;
}
        
.card-img img{
    overflow: visible;
}
    
.sessao-contato{
    min-width: 375px;
    display: block;
    justify-content: center;
    justify-items: center;
    margin: 5rem 0;
    width: 100%;
    height: auto;
    padding: 0;
    object-fit: scale-down;
    border-radius: 0;
    background-color: transparent;
    border: transparent;
}
    
.contato-wrapper{
   width: 100%;
   height: auto;
   display: visible;
   object-fit: scale-down;
   margin: auto;
   padding: 0;
   box-shadow: none;
}

.contato-left{
    display: block;
    width: 10%;
    height: auto;
    justify-content: center;
    border-radius: 0;
}

.contato-right{
    display: block;
    justify-items: center;
    align-content: center;
    width: 90%;
    height: auto;
    padding: 1rem 0;
    border-radius: 0;
}

.sessao-contato h2{
    font-size: 2.1rem;
    color: black;
}

.sessao-contato form{
    display: block;
    width: 100%;
    align-items: center;
    margin: 1rem 1rem;
    padding: 0;
}

.input-group textarea{
    top: 0.5rem;
    max-width: 15rem;
    max-height: 7rem;
}

.field{
    width: 90%;
    font-size: 1.5rem;
    height: 3rem;
    margin: 2rem 0;
}

.field-label{
    left: 0;
    font-size: 1rem;   
}

.btn-submit{
    width: 80%;
}

.sessao-orcamento{
    min-width: 375px;
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 0 5rem 0; 
    padding-bottom: 1rem;
    border-radius: 0;
}

.orcamento-wrapper{
    display: block;
    justify-content: center;
    justify-items: center;
    width: 90%;
    height: 70%;
    margin: auto;
    border-radius: 0;
}

.sessao-orcamento h2{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -3rem;
    color: #1a1a18;
}
.sessao-orcamento form{
    display: block;
    margin-top: 4rem;
    align-items: center;
    padding: 1rem 0;
}

.sessao-orcamento label{
    margin-top: 1rem;
    font-size: 1.4rem;
}

.orcamento-wrapper form input{
    margin-bottom: 1.5rem;
}

.orcamento-wrapper form button{
    margin-top: 1rem;
}

.sessao-orcamento input[type="number"]{
    width: 3rem;
    font-size: 1.5rem;
}

.mapa iframe{
    position: absolute;
    width: 70%;
    height: 100%;
    border: 0;
    left: 16%;
    border-radius: 3px;
}

footer{
    min-width: 375px;
    display: flex;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: auto;
    padding: 0;
}

.footer-content{
    width: 95%;
    padding: .3rem;
}

.footer-content p{
    padding: .5rem .2rem;
    text-align: left;
    font-size: 1rem;
    border-right: 1px solid #000000;
}

.social-list{
    width: 50%;
    margin: auto;
}

.social-list a{
    text-align: center;
    font-size: 1.3rem;
    margin: .7rem;
}

.social-list ul{
    margin-top: 1rem;
}

.social-list li{
    width: 50%;
    list-style: none;
}

#link-topo{
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
} 
}

@media (orientation: landscape){
    
    header#home {
        width: 100%;
        height: 100vh;
    }

    .banner{
        width: 90%;
        left: 5%;
    }
    
    .conhecimento-img{
        margin-left: 15%;
    }
    .conhecimento-img figure{
        margin-left: 15%
    }
}