*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

* {
    scrollbar-width: thin;
}

html,
body {
    position: relative;
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font: inherit;
}

#root,
#__next {
    isolation: isolate;
}

:root {
    --cor-primaria: #14171a;
    --cor-secundaria: #1e252e;
    --cor-font: #dddddd;
    --cor-destaque: #971ac9;
    --shadow-color: 214deg 34% 5%;
    --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.1), 0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.1), 2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.1), 5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.1);
    --shadow-color: 210deg 22% 2%;
    --font-primary: "Nunito", sans-serif;
    --font-secundary: "Nunito", sans-serif;
    --font-action: "Nunito", sans-serif;
}

body {
    -webkit-font-smoothing: antialiased;
    font-size: 16px;
    overflow-x: hidden;
    min-width: 320px;
    background-color: var(--cor-primaria);
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(247, 247, 247);
}

body::-webkit-scrollbar-thumb {
    background-color: #14171a54;
    border-radius: 20px;
}

h1,
h2{
    overflow-wrap: break-word;
    font-family: var(--font-primary);
    color: #eee;
    font-weight: bold;
}

p, q{
    overflow-wrap: break-word;
    font-family: var(--font-secundary);
    color: #eee;
}

a{
    font-family: var(--font-action);
    color: var(--cor-destaque);
    text-decoration: none;
}

section {
    max-width: 1200px;
    min-width: 320px;
}

.cabecalho-blog {
    position: relative;
    margin-top: 0;
    height: 60vh;
    width: 100%;
    background: url(../assets/img/mountains.webp) no-repeat center top;
    background-attachment: fixed;
}

.cabecalho-blog::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #14171a42;
}

.cabecalho-blog h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cor-destaque);
    text-shadow: 1px 1px 1px #fff;
}

.cabecalho-blog span{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
    animation: chuva 7s linear infinite;
}

.cabecalho-blog span:nth-child(1){
    top: 50%;
    left: 50%;
}
.cabecalho-blog span:nth-child(2){
    top: 10%;
    left: 10%;
    animation-delay: 100ms;
}
.cabecalho-blog span:nth-child(3){
    top: 30%;
    left: 50%;
    animation-delay: 200ms;
}
.cabecalho-blog span:nth-child(4){
    top: 20%;
    left: 30%;
    animation-delay: 300ms;
}
.cabecalho-blog span:nth-child(5){
    top: 50%;
    left: 10%;
    animation-delay: 400ms;
}
.cabecalho-blog span:nth-child(6){
    top: 10%;
    left: 15%;
    animation-delay: 50ms;
}
.cabecalho-blog span:nth-child(7){
    top: 30%;
    left: 99%;
    animation-delay: 150ms;
}
.cabecalho-blog span:nth-child(8){
    top: 5%;
    left: 80%;
    animation-delay: 700ms;
}
.cabecalho-blog span:nth-child(9){
    top: 15%;
    left: 60%;
    animation-delay: 900ms;
}
.cabecalho-blog span:nth-child(10){
    top: 35%;
    left: 45%;
    animation-delay: 1000ms;
}
.cabecalho-blog span:nth-child(11){
    top: 10%;
    left: 98%;
    animation-delay: 200ms;
}
.cabecalho-blog span:nth-child(12){
    top: 5%;
    left: 50%;
    animation-delay: 2000ms;
}
.cabecalho-blog span:nth-child(13){
    top: 20%;
    left: 88%;
    animation-delay: 1500ms;
}
.cabecalho-blog span:nth-child(14){
    top: 5%;
    left: 55%;
    animation-delay: 500ms;
}
.cabecalho-blog span:nth-child(15){
    top: 10%;
    left: 40%;
    animation-delay: 300ms;
}
.cabecalho-blog span:nth-child(16){
    top: 50%;
    left: 90%;
    animation-delay: 1700ms;
}
.cabecalho-blog span:nth-child(17){
    top: 55%;
    left: 80%;
    animation-delay: 100ms;
}
.cabecalho-blog span:nth-child(18){
    top: 50%;
    left: 70%;
    animation-delay: 350ms;
}
.cabecalho-blog span:nth-child(19){
    top: 40%;
    left: 5%;
    animation-delay: 300ms;
}
.cabecalho-blog span:nth-child(20){
    top: 50%;
    left: 10%;
    animation-delay: 1000ms;
}
.cabecalho-blog span:nth-child(21){
    top: 15%;
    left: 45%;
    animation-delay: 1600ms;
}
.cabecalho-blog span:nth-child(22){
    top: 40%;
    left: 25%;
    animation-delay: 100ms;
}
.cabecalho-blog span:nth-child(23){
    top: 30%;
    left: 20%;
    animation-delay: 700ms;
}
.cabecalho-blog span:nth-child(24){
    top: 30%;
    left: 70%;
    animation-delay: 700ms;
}
.cabecalho-blog span:nth-child(25){
    top: 25%;
    left: 75%;
    animation-delay: 700ms;
}


@keyframes chuva {
    0%{
        transform: scale(0.0);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.0);
    }
}

main {
    margin: 0 auto 2rem auto;
    max-width: 1100px;
    padding: 18px;
}

main h2{
    text-align: center;
}

main p{
    margin: 1.7rem 0;
    font-size: 1.2rem;
}

.media-sociais{
    max-width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(216, 216, 216);
    padding: 15px;
    border-radius: 7px;
}

.media-sociais img{
    vertical-align: middle;
}

main q{
    display: block;
    text-align: center;
}

footer {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(/assets/img/mountains-footer.webp) no-repeat center center;
    background-attachment: fixed;
}

.copyright {
    color: var(--cor-primaria);
}

.copyright {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    padding: 0.5rem;
    font-size: 1rem;
}

@media (max-width: 750px) {
    h2 {
        font-size: 2.3rem;
    }
}