@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css");

* {
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

:root {
    --font-primary: 'Baloo 2', 'cursive', sans-serif;
    --font-secundary:'Josefin Slab', sans-serif;
    --font-action: 'Mulish', sans-serif;
}


.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    top: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1s;
}

.show-menu .hamburguer {
    right: 12rem;
}

.line {
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px black;
    transition: transform 1s;
}

.show-menu #line1 {
    transform: rotate(45deg) translate(.30rem, .4rem);
    width: 70%;
}

.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3 {
    transform: rotate(-45deg) translate(.25rem, -.4rem);
    width: 70%;
}

header {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 25s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 20%;
    left: 20%;
}

.banner h1 {
    font-size: 3.5em;
    font-family: var(--font-primary); 
    font-weight: 200;
    color: #ffffff;
    text-shadow: 0.1rem 0.2rem 2px rgba(0, 0, 0, 0.363);
    line-height: 3.5rem;
    margin-bottom: 2rem;
    animation: MoveBanner 1s;
}

.banner p {
    font-family: var(--font-secundary); 
    font-size: 1.5rem;
    color: #fff;
    text-shadow: 0.1rem 0.1rem 1px rgba(0, 0, 0, 0.459);
    margin-bottom: 2rem;
    animation: MoveBanner 1.2s;
}

.banner button {
    font-family: var(--font-action);
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    background: #D38312;  
    background: -webkit-linear-gradient(to right, #A83279, #d3a612c4);  
    background: linear-gradient(to right, #ac1e94, #d3a612be);     
    padding: 0.5rem 0.8rem;  
    border: 1px solid #fff ; 
    border-radius: 7px; 
    cursor: pointer;
    animation: MoveBanner 1.4s;
}

@keyframes MoveBanner {
    0% {
        transform: translateY(10rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0rem);
        opacity: 1;
    }
}

.sidebar {
    width: 15rem;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    right: -15.5rem;
    border-left: 0.5px solid rgb(198, 43, 226);
    transition: all 1s;
    z-index: 99;
}

.show-menu .sidebar {
    right: 0;
}

.menu {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item, .menu-link {
    list-style: none;
    text-decoration: none;
    color: rgb(72, 9, 83);
    text-align: center;
    margin-bottom: 1rem;
    font-family: var(--font-action);
    font-size: 1.1rem;
}

.menu-link:hover {
    color: rgb(5, 5, 5);
}

.social-media {
    position: absolute;
    display: flex;
    width: 100%;
    font-size: 2rem;
    bottom: 2rem;
    justify-content: space-evenly;
}

.social-media i {
    color:  rgb(198, 43, 226);
    transition: ease-in 0.5s;
}

.social-media i:hover {
    color: rgb(26, 25, 25);
}

.sessao-conhecimentos{
    background-color: rgb(248, 247, 247);
}

.conhecimentos {
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(6, 6rem);
        row-gap: 1.5rem;
        padding-bottom: 1.5rem;
}

.conhecimento:nth-child(1){
    grid-column: 4/7;
    grid-row: 1/3;
}

.conhecimento:nth-child(2){
    grid-column: 3/6;
    grid-row: 3/5;
}

.conhecimento:nth-child(3){
    grid-column: 4/7;
    grid-row: 5/-1;
}

.conhecimento:nth-child(4){
    grid-column: 11/14;
    grid-row: 1/3;
}

.conhecimento:nth-child(5){
    grid-column: 12/15;
    grid-row: 3/5;
}

.conhecimento:nth-child(6){
    grid-column: 11/14;
    grid-row: 5/-1;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h2{
    font-family: var(--font-primary);
    font-size: 2.5rem;
    color: #424241;
    border-bottom: 1px solid rgb(198, 43, 226);
    margin: 2rem 2rem;
}

.conhecimento{  
    background: linear-gradient(to right, #a432a838, #d3821228);
    width: fit-content;     
    padding: 1rem;
    border-radius: 7px;
}

.conhecimento-header{
    display: flex;
    align-items: center;
    color: rgb(198, 43, 226);
}

.conhecimento-header i{
    font-size: 2.5rem;
    color: #770377;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding: 1rem;
    color: #770377;
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimento-img{
    grid-column: 7/11;
    grid-row: 3/6;
    width: 100%;
}

.conhecimento-img figcaption{
    color: rgb(37, 36, 36);
    text-align: center;
    font-family: var(--font-secundary);
    font-size: .7rem;
    font-style: italic;
    display: none;
}

.conhecimento-img img{
    object-fit: cover;
    width: 100%;
}

.sessao-projetos{
    margin: 1rem;
    padding: 1.5rem;
    border:  #95127f4f solid 2px; 
    border-radius: 15px;
}

.projetos{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 17rem;
    height: 22rem;
    position: relative;
}


.card-img{
    width: 100%;
    height: 100%;
    background-color: rgb(54, 1, 56);
    border-radius: .5rem;
}

.card-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
}

.card-info{
    opacity: 0;
    visibility: hidden;
    position: absolute;
    padding: 2rem;
    margin-bottom: -2rem;
    background:#424241;  
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000000);  
    background: linear-gradient (rgba(0, 0, 0, 0), #000000);
    border-radius: .5rem;
    transition: all eease-in .3s;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    font-weight: 500;
    color: rgb(246, 241, 241);
    margin-bottom: 1.5rem;
}

.card-info h4 {
    width: 80%;
    background: linear-gradient(to right, #ffffff8e, #ffffff00);
    padding: .2rem .5rem;
    border-radius: 3rem;
    font-family: var(--font-secundary);
    font-size: 1rem;
    font-weight: bolder;
    color: #951280;
    margin-bottom: 1rem;
}

.card-info p{
    width: 80%;
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    margin-bottom: 2rem;
}

.btn{
    width: 8rem;
    height: 2.5rem;
    background: #A83279;
    background: -webkit-linear-gradient(to right, #A83279, #d3a612);  
    background: linear-gradient(to right, #ac1e94, #d3a612); 
    font-family: var(--font-action);   
    font-size: 1.1rem;
    border: none;
    color: #fff;
    border-radius: .5rem;
}


.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
    transition: ease-in .3s;
}


.sessao-contato{
    margin: 1rem;
    border:  #95127f solid 2px; 
    border-radius: 15px;
    width: 97%;
    height: 100vh;
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #424241;
    display: flex;
    align-items: center;
    justify-content: center;
}


.contato-wrapper{
    width: 60%;
    height: 30rem;
    display: flex;
    border-radius: 7px;
    box-shadow: 0 1rem 2rem rgb(22, 21, 21); 
}

.contato-left{
    width: 35%;
    background-image: url(img/web-sobre-contato.jpg);
    background-size: cover;
    opacity: .8;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}


.sessao-contato h2{
    text-align: center;
    font-family: var(--font-primary);
    color: #424241;
    font-size: 3rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.input-group textarea{
    top: 0.5rem;
    max-width: 25rem;
    max-height: 5rem;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 1px solid;
    height: 2.5rem;
    margin: 2rem 0;
    outline: none;
}

.field-label{
    position: absolute;
    left: 0;
    top: 3rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all .3s;
    opacity: 0;
    
}

.field:focus ~ label{
    top: 0;
    opacity: 10;
}

/*.field:focus{
    border-bottom: 2px dashed #424241;
    border-bottom: 1px solid;
}*/

.btn-submit{
    width: 100%;
    height: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.sessao-orcamento{ 
    margin: 3rem 0;
    padding-top: 3rem;
    width: 100%;
    height: auto;
    background-image: url(img/office-orcamento.jpg); 
    background-repeat: no-repeat;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento-wrapper{
    width: 60%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.164);
    /*background: rgba(158, 21, 147, 0.205);
    background: -webkit-linear-gradient(to right, #a832793f, #0000003b, #d3a6123d);  
    background: linear-gradient(to right, #a832793f, #0000003b, #d3a6123d);*/
    box-shadow: .1rem .1rem .3rem rgba(46, 45, 45, 0.788);
    position: relative;
    border-radius: 7px;
    margin-bottom: 2rem;
}

.sessao-orcamento h2{
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background-color: #fff;
    border-radius: 10px;
    padding: 0 1rem;
    font-family: var(--font-primary);
    font-weight: lighter;
    box-shadow: .1rem .1rem .3rem black;
}

.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 7px;
    border: none;
    padding: 0.3rem;
}

.sessao-orcamento label#preco{
    font-style: oblique;
}

.btn-orcamento{
    cursor: pointer;
    text-transform: uppercase;
    padding: .5rem;
    grid-column: 2;
}

footer{
    width: 100%;
    height: 5rem;
    background: #424241;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p{
    font-family: var(--font-secundary);
    color: rgb(238, 238, 238);
}

.social-list a{
    margin: 0 1.5rem;
    color: #e0e0de;
    font-size: 1.3rem;
}

.social-list ul{
    display: flex;
}

.social-list li{
    list-style: none;
}

#link-topo{
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background: rgb(198, 43, 226);
    box-shadow: .1rem .1rem .3rem rgba(58, 57, 57, 0.747);
    /*background: -webkit-linear-gradient(to right,#A83279,#d3a612);  
    background: linear-gradient(to right,#ac1e94, #d3a612);*/
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 750px){

   html, header, body, footer{
       margin: 0;
       padding: 0;
    }

    body{
        min-width: 375px;
        background-color: rgb(248, 247, 247);;
    }

    header#home {
        min-width: 375px;
        width: 100%;
        height: 65vh;
    }
    
    .img-wrapper {
        width: 100%;
        height: 100%;
    }
    
    .img-wrapper img {
        max-width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
     
    .banner {
        width: 100%;
        object-position: left;
        top: 15%;
        left: 5%;
    }
    
    .banner h1 {
        width: 95%;
        font-size: 2.5rem;
        line-height: 3.5rem;
        margin-bottom: 2rem;
    }
    
    .banner p {
        font-size: 1.5rem;
    }
    
    .banner button {
        font-size: 0.7rem;
    }

    .hamburgue{
        
    }
    
    .sidebar {
        width: 15rem;
        height: 100vh;
    }
    
    .show-menu .sidebar {
        right: 0;
    }
    
    .menu {
        top: 40%;
        left: 50%;
    }

    .social-media{
        font-size: 1.3rem;
    }

    .sessao-conhecimentos{
        min-width: 375px;
        width: 100%;
        justify-content: center;
        justify-items: center;
        margin: 0;
        overflow: hidden;
    }
    
    .conhecimentos{
        width: 90%;
        display: block;
        justify-content: center;
        justify-items: center;
        margin: auto;
        padding: 1rem 1rem;
    }
    
    .sessao-header{
        text-align: center;
    }
    
    .sessao-header h1{
        font-size: 1.8rem;
        margin-top: 2rem;
    }
    
    
    .conhecimento{ 
        width: 80%;     
        padding: .8rem;
        margin: 2rem auto;
        border: 1px solid black;
        box-shadow: 0 .1rem .4rem black;
    }
    
    .conhecimento-header{
        display: block;
        text-align: center;
        align-items: center;
    }
    
    .conhecimento-text{
        text-align: center;
    }
    
    .conhecimento-img{
        max-width: 100%;
        margin: 4rem 0;
    }

    /*--Linha divisória entre sessões, na diagonal.--*/

    .divisao-top{
    right: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #2c2a2c;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top left;
}

.divisao-button{
    right: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: #2c2a2c;
    z-index: 0;
    transform: skewY(6deg);
    transform-origin: top right;
}

.sessao-projetos{
        min-width: 375px;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0 0 3rem 0;
        justify-content: center;
        align-items: center;
        background-color: #2c2a2c;
        border: transparent;
        border-radius: 0;
    }

    #h2-projetos{
        color: white;
    }
    
    .projetos{
        display: block;
        margin: 1rem 0;
        padding: 0;
    }
    
    .card{
        width: 16rem;
        height: 22rem;
        margin: 1rem auto;
        align-items: center;
    }
    
    
    .card-img{
        width: 100%;
        height: 100%;
        margin: 1rem auto;
        align-items: center;
    }
    
    
    .sessao-contato{
        min-width: 375px;
        display: block;
        justify-content: center;
        justify-items: center;
        margin: 5rem 0;
        width: 100%;
        height: auto;
        padding: 0;
        object-fit: scale-down;
        border-radius: 0;
        background-color: transparent;
        border: transparent;
    }

    
.contato-wrapper{
   width: 100%;
   height: auto;
   display: visible;
   object-fit: scale-down;
   margin: auto;
   padding: 0;
   box-shadow: none;
}

.contato-left{
    display: block;
    width: 10%;
    height: auto;
    justify-content: center;
    border-radius: 0;
}

.contato-right{
    display: block;
    justify-items: center;
    align-content: center;
    width: 90%;
    height: auto;
    padding: 1rem 0;
    border-radius: 0;
}


.sessao-contato h1{
    font-size: 2.3rem;
    color: black;
}

.sessao-contato form{
    display: block;
    width: 100%;
    align-items: center;
    margin: 1rem 1rem;
    padding: 0;
}


.input-group textarea{
    top: 0.5rem;
    max-width: 15rem;
    max-height: 7rem;
}

.field{
    width: 90%;
    font-size: 1.5rem;
    height: 3rem;
    margin: 2rem 0;
}

.field-label{
    left: 0;
    font-size: 1rem;   
}

.btn-submit{
    width: 80%;
}

.sessao-orcamento{
    min-width: 375px;
    display: block;
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 0 5rem 0; 
    padding-bottom: 1rem;
    border-radius: 0;
}

.orcamento-wrapper{
    display: block;
    justify-content: center;
    justify-items: center;
    width: 90%;
    height: 70%;
    margin: auto;
    border-radius: 0;
}

.sessao-orcamento h1{
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: -3rem;
    color: #1a1a18;
}
.sessao-orcamento form{
    display: block;
    margin-top: 4rem;
    align-items: center;
    padding: 1rem 0;
}

.sessao-orcamento label{
    margin-top: 1rem;
    font-size: 1.4rem;
}

.orcamento-wrapper form input{
    margin-bottom: 1.5rem;
}

.orcamento-wrapper form button{
    margin-top: 1rem;
}

.sessao-orcamento input[type="number"]{
    width: 3rem;
    font-size: 1.5rem;
}

footer{
    min-width: 375px;
    display: flex;
    grid-template-columns: auto;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: fit-content;
    padding: 0;
}

.footer-content{
    width: 95%;
    padding: .4rem;
}

.footer-content p{
    padding: 1rem .7rem;
    text-align: left;
    font-size: 1rem;
    border-right: 1px solid #000000;
}

.social-list{
    width: 50%;
    margin: auto;
}

.social-list a{
    text-align: center;
    font-size: 1.3rem;
    margin: .7rem;
}

.social-list ul{
    margin-top: 1rem;
}

.social-list li{
    width: 50%;
    list-style: none;
}

#link-topo{
    position: fixed;
    right: 2rem;
    bottom: 6rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
} 

}
