 & .container-contato {
        max-width: 800px;
        margin: auto;

        & .mensagem-contato {
            font-weight: bolder;
            font-size: 1.3rem;
            padding-bottom: 2rem;
            background: -webkit-linear-gradient(right, hsl(283, 100%, 45%) 60%, hsl(283, 100%, 71%));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: .5px .5px 0 #fff;
        }

        & form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 100%;
            max-width: 800px;
            font-family: var(--font-secundary);
            font-size: 1.3rem;
            padding: 5px;

            & label {
                position: relative;
                width: 100%;

                & input {
                    width: 100%;
                    height: 50px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid var(--cor-destaque);
                    background-color: transparent;
                    padding: 0 30px 0 0;
                    color: #fff;
                    caret-color: var(--cor-destaque);
                }

                & svg{
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0;
                    width: 1.5rem;
                    fill: var(--cor-destaque);
                    vertical-align: middle;
                }
            }

            & input::placeholder, textarea::placeholder{
                color: var(--cor-font);
            }

            & textarea{
                background: #14171a2f;
                background: -webkit-linear-gradient(to right, #971ac954, #971ac90a);
                background: linear-gradient(to right, #971ac954, #971ac90a); 
                color: #fff;
                font-size: 1.3rem;
                border: none;
                outline: none;
                border-radius: 5px;
                caret-color: var(--cor-destaque);
                padding: 5px;
            }
            & .mensagem-alerta{
                padding: 5px 0;
                color: #ff0000;
            }
            & .mensagem-sucesso{
                padding: 5px 0;
                color: var(--cor-destaque);
            }
            & .frente-enviar{
                padding-left: 0;
                padding-right: 0;

                & svg{
                    width: 1.7rem;
                    fill: var(--cor-font);
                    vertical-align: middle;
                    margin-left: .3rem;
                }
            }
        }
    }