/* Sobre mim */
.sobre-mim-container{
    position: relative;
    margin: -7px 0 ;
    background-color: var(--cor-secundaria);
    padding: 50px 0;

    & h2{
        text-align: center;
        margin-bottom: 7rem;
        color: var(--cor-font);
    }

    & .video {
        position: relative;
        max-width: 600px;
        margin: auto;
        height: 300px;
        overflow: hidden;

        & video{
            display: block;
            object-fit: cover;
        }

        & .loading {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
          
            &::before {
              position: absolute;
              content: '';
              width: 4rem;
              height: 4rem;
              border-top: 2px solid var(--cor-destaque);
              border-radius: 50%;
              animation: loading 700ms infinite ease-in-out;
            }
        }

        &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            background-image: radial-gradient(#1e252e8f, var(--cor-secundaria) 70%);
        }
    }
}
