.newsletter-form{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.3rem;
    padding: 5px;
}
/* .group-name, .group-email{
    position: relative;
} */
.newsletter-form label{
    position: absolute;
    font-family: var(--font-primary);
    color: #424241;
    text-transform: uppercase;
}
.newsletter-form input{
    font-family: var(--font-secundary);
    margin-top: 40px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-destaque);
    background-color: transparent;
    padding: 0;
    color: #424241;
    caret-color: var(--cor-destaque);
    transition: 200ms ease-in;
}
.group-name{
    margin-bottom: 20px;
}
.newsletter-form input:focus{
    margin-top: 45px;
    border-bottom-width: 2px;
}
.newsletter-form label:focus{
    color: var(--cor-destaque);
}
.fa-user-tie, .fa-at{
    display: none;
    position: absolute;
    top: 14px;
    right: 95px;
    opacity: .7;
}
.fa-envelope{
    vertical-align: middle;
}
.newsletter-form input::placeholder, 
textarea::placeholder{
    color: var(--cor-font);
}
footer textarea{
    background: #14171a2f;
    background: -webkit-linear-gradient(to right, #971ac954, #971ac90a);
    background: linear-gradient(to right, #971ac954, #971ac90a); 
    color: #fff;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 5px;
    caret-color: var(--cor-destaque);
    padding: 5px;
}
.mensagem-alerta{
    font-family: var(--font-primary);
    color: #ff0000;
}
.mensagem-sucesso{
    color: var(--cor-destaque);
}
.frente-enviar{
    padding-left: 0;
    padding-right: 0;
}