/* Seção certificados */
.container-certificados{
    max-width: 1000px;
    margin: auto;
    padding: 3rem 1rem 5rem 1rem;

    & h2{
        text-align: center;
        margin: 0  0 50px 0;
        color: var(--cor-font);
    }

    & .certificados{
        position: relative;
        max-width: 700px;
        margin: auto;
        overflow: hidden;
    
        & div{
            width: 100%;
            border-bottom: none;
            border-radius: 7px 7px 0 0;
            background-color: #eee;
            box-shadow: var(--shadow-elevation-medium);
    
            & img{
                display: block;
                width: 100%;
                border-radius: 7px 7px 0 0;
             }
        }
    }
    & .slides-button{
        width: 100%;
        max-width: 700px;
        height: 70px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 3rem;
        background-color: #fff;
        border-radius: 0 0 7px 7px;
    
        & svg{
            width: 2rem;
            fill: var(--cor-destaque);
            cursor: pointer;
        }
    }
}
.weve-certificados{
    background-color: var(--cor-secundaria);
}