/* Seção certificados */
.secao-certificados{
    position: relative;
    width: 100%;
    /* background-color: var(--cor-primaria); */
    padding-bottom: 50px;
}
.container-certificados{
    max-width: 1000px;
    margin: auto;
}
.container-certificados h2{
    text-align: center;
    margin: 0  0 50px 0;
}
.container-certificados h2{
    color: var(--cor-font);
}
.certificados{
    position: relative;
    max-width: 700px;
    margin: auto;
    overflow: hidden;
}
.certificado div{
    width: 100%;
    border-radius: 7px;
    box-shadow: var(--shadow-elevation-medium);
}
.certificado img{
   display: block;
   width: 100%;
   border: 1px solid var(--cor-destaque);
   border-radius: 7px;
}
.slide-button{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}
.slide-button button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border: .5px solid var(--cor-destaque);
    background-color: var(--cor-font);
    color: var(--cor-destaque);
    padding: 5px;
    box-shadow: var(--shadow-elevation-medium);
    cursor: pointer;
}
.slide-button button:first-child{
    left: 0;
    border-radius: 0 5px 5px 0;
}
.slide-button button:last-child{
    right: 0px;
    border-radius: 5px 0 0 5px;
}
.slide-button button img{
    display: block;
    width: 100%;
    transition: .5s ease-in;
}
.weve-certificados{
    background-color: var(--cor-secundaria);
}