/* Seção conhecimentos */
.secao-conhecimentos{
    background-color: var(--cor-secundaria);
    padding: 50px 0;
}
.secao-conhecimentos h2{
    text-align: center;
    color: var(--cor-font);
}
.container-conhecimentos{
    max-width: 1000px;
    margin: 50px auto; 
    display: flex;
    flex-wrap: wrap;
}
.container-conhecimentos div{
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    align-items: center;
    background-color: var(--cor-primaria);
    margin: 15px;
    padding: 2rem;
    border-radius: 7px;
    box-shadow: var(--shadow-elevation-medium);
}
.container-conhecimentos div i, .container-conhecimentos div h3{
    font-size: 2rem;
    background: -webkit-linear-gradient(right, hsl(283, 100%, 45%) 60%, hsl(283, 100%, 60%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.weve-conhecimentos{
    background-color: var(--cor-primaria);
}