.inclina-icone{
    transform: rotateZ(20deg) scale(1.2, 1.2);
    text-shadow: 5px 5px 12px hsl(0, 0%, 100%);
}
.slide-button button img:hover{
    height: 70%;
}
.card:hover{
    box-shadow: 2px 1px 5px #fff;
}
.zoom{
    transform: scale(1.2);
    opacity: 0;
}
.visible{
    opacity: 10;
    z-index: 1;
}
.cursor{
    position: fixed;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(#fff, rgba(255, 255, 255, 0.507));
    border-radius: 60%;
    box-shadow: -9px 9px 18px #fff;
    animation: rastro 10ms ease;
}
@keyframes rastro {
    0%{
        transform: scale(1.1, 1.1);
    }
    50%{
        transform: scale(2.2, 2.2);
    }
    0%{
        transform: scale(1.1, 1.1);
    }
} 
