/* Seção GitHub */
.info-github{
    position: relative;
    margin-top: -5px;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 50px;
    background-color: var(--cor-secundaria);
}
.github-container{
    max-width: 1000px;
    margin: auto;
}
.github-container h2{
    margin-bottom: 50px;
    text-align: center;
    color: var(--cor-font);
}
.github-atividade{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.github-atividade div{
    margin: 20px 15px;
    max-width: 450px;
    border: 1px solid var(--cor-font);
    border-radius: 7px;
    padding: 10px;
    box-shadow: var(--shadow-elevation-medium);
}
.github-atividade div:nth-child(2),
.github-atividade div:nth-child(3){
    background-color: var(--cor-destaque);
}
.github-atividade img{
    border-radius: 5px;
    width: 100%;
}
.github-atividade p{
    font-size: 1rem;
    color: var(--cor-font);
}
.weve-github{
    background-color: var(--cor-primaria);
}
.github-container button{
    display: block;
    margin: 2rem auto;
}
.github-container button .frente{
    padding: 10px 10px;
}
.github-container button a{
    color: #eee;
}
.github-container button a i{
    margin-left: .3rem;
}