/* CSS mobile */
@media (max-width: 650px) {
    .img-wrapper{
       display: none;
    }
    .sobre-mim-container, 
    .github-container div, 
    .container-hobbies div{
        box-shadow: none;
    }
    .banner{
        backdrop-filter: none;
    }
    .github-atividade div, 
    .card, 
    .container-hobbies div{
        border: none;
    }
    .contato div{
        margin-top: 50px;
        max-width: 300px;
        height: 300px;
    }
    footer input{
        width: 100%;
    }
    .fa-user-tie, .fa-at{
        display: inline-block;
        right: 0;
    }
}
