body{
    background-color: rgb(248, 247, 247);
}
section{
    max-width: 1200px;
    min-width: 320px;
}
.header-article {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;  
    z-index: 10;  
    background-color: rgb(248, 247, 247);
    box-shadow: .2px .2px 3px rgba(0, 0, 0, 0.527); 
    overflow: hidden;
}
.logo{
    position: absolute;
    top: 0;   
    background-color: rgb(248, 247, 247);
}
.navigation{
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    /* transition: all 1s; */
}
.navigation-menu{
    width: 90%;
    height: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 50px;
}
.menu-item{
   list-style: none;
}
.menu-hamburguer {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1s;
}
.line {
    display: none;
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px black;
    transition: transform 1s;
}
.show-menu #line1 {
    transform: rotate(45deg) translate(.30rem, .4rem);
    width: 70%;
}
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    transform: rotate(-45deg) translate(.25rem, -.4rem);
    width: 70%;
}
.social-media {
    display: none;
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 2rem;
    justify-content: space-evenly;
}
.dark-mode{
    position: absolute;
    top: 30px;
    transform: translateY(-50%);
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dark-mode input{
    opacity: 0;
}
.fa-sun, .fa-star-half-stroke{
    font-size: 30px;
    cursor: pointer;
    transition: 300ms ease;
}
.fa-sun:hover, .fa-star-half-stroke:hover{
    color: var(--cor-destaque);
}
main {
    margin: 2rem auto;
    max-width: 1000px;
    background-color: rgb(248, 247, 247);
    padding: 1rem;
}
main a{
    margin: 0;
    font-family: var(--font-secundary);
    font-size: 2rem;
    color: var(--cor-destaque);
    transition: .1s ease-in;
    text-decoration: none;
}

main h1{
    margin-top: 3rem;
    font-family: var(--font-primary);
    text-align: left;
    line-height: 2.5rem;
    font-size: 2.5rem;
    color: #424241;
}

main a:hover{
    text-shadow: 1px .2px 1px rgba(0, 0, 0, 0.363);
}
article p{
    font-family: var(--font-secundary);
    font-size: 1.3rem;
    margin-top: 1.5rem;
    color: rgb(49, 49, 49);
}
article a{
    font-size: 1.5rem;
    font-weight: 600;
}
abbr{
    text-decoration: none;
    border-radius: 0 10px;
    border-bottom: .5px solid var(--cor-destaque);
    text-shadow: .2px .5px 1px rgba(0, 0, 0, 0.514);
}
.artigos-relacionados{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.artigos-relacionados div{
    margin: 1rem;
    max-width: 400px;
    min-width: 300px;
}
.artigos-relacionados p{
    height: 75px;
    line-height: 1.7rem;
}
.artigos-relacionados div p a:hover,
.fa-arrow-alt-circle-left:hover,
.fa-arrow-alt-circle-right:hover{
    color: #000;
}
div.compartilhe{
    display: none;
}
div.compartilhe p{
    text-align: center; 
    margin-top: 2rem; 
    font-family: var(--font-action);
    color: #424241;
}
div.compartilhe a{
    display: block; 
    width: 50px;
    margin: .5rem auto; 
    text-align: center; 
    font-size: 1.3rem; 
    color: #424241;
    transition: .1s ease-in;
}
div.compartilhe a:hover{
    color: var(--cor-destaque);
}
footer{
    width: 100%;
    height: auto;
    padding: 20px 0;
    background-color: #e7e7e7;
}
.article-newsletter{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}
.api-frases-aleatorias{
    margin: 30px 0;
    width: 50%;
}
.frases-aleatorias{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    /* border: 1px solid var(--cor-destaque);
    border-radius: 7px; */
    padding: 10px;
    /* box-shadow: var(--shadow-elevation-medium); */
}
.media-sociais, .copyright{
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-family: var(--font-secundary);
    color: #424241;;
}
.copyright{
    font-size: 1rem;
}
.media-sociais a i{
    margin: 1rem 1rem 0 0;
    font-size: 1.5rem;
    transition: 200ms ease;
}
.media-sociais a i:hover{
    color: var(--cor-primaria);
}
footer q{
    font-family: var(--font-secundary);
    color: #424241;
    font-style: oblique;
}
#link-topo{
    position: fixed;
    right: 1rem;
    bottom: 2rem;
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    background: var(--cor-destaque);
    box-shadow: .1rem .1rem .3rem rgba(58, 57, 57, 0.747);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 750px){
    .banner {
        position: absolute;
        top: 15%;
        left: 5%;
    }
    h2{
        font-size: 2.3rem;
    }
    .artigos-relacionados p{
        height: auto;
    }
    div.compartilhe{
        display: block;
    }
}    
@media (max-width: 919px){
    .banner h1 {
        font-size: 3rem;
    }
}
@media (max-width: 750px) and (orientation: landscape){ 
    div.logo{
        display: none;
    } 
}

/* Transição para temas */
.transicao-tema{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eee;
    opacity: .5;
    animation: transicao 300ms ease;
}
@keyframes transicao {
    0%{
       opacity: 10;
    }
    50%{
       opacity: 0;
    }
    100%{
       opacity: 10;
    }
}