body{
    position: relative;
    background-color: rgb(248, 247, 247);
    padding-top: 60px;
}
section{
    max-width: 1200px;
    min-width: 320px;
}
.header-fixed {
    position: fixed;
    width: 100%;
    height: auto;
    top: 0;
    z-index: 10;  
    background-color: #f8f7f7;
    box-shadow: .2px .2px 3px rgba(0, 0, 0, 0.527); 
    overflow: hidden;
}
.logo{  
    background-color: rgb(248, 247, 247);
}
.navigation{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}
.navigation-menu{
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 60px;
    padding-left: 0;
}
.menu-item{
    flex-basis: 400px;
    position: relative;
    list-style: none; 
}
.menu-link{
    text-transform: uppercase;
    transition: 200ms ease-in;
    padding: 10px 0;
    border-radius: 3px;
}
.menu-link svg{
    width: 18px;
    vertical-align: middle;
}
.up-arrow{
    transform: rotate(0.5turn);
}
.menu-item-articles{
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 20px;
    top: 40px;
    background-color: rgb(248, 247, 247);
    padding: 10px;
    /* border: .5px solid var(--cor-destaque); */
    border-radius: 7px; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.301);
    transition: 150ms ease-in;
    visibility: hidden;
    opacity: 0;
}
.item-articles-visible{
    top: 70px;
    visibility: visible;
    opacity: 10;
}
.menu-item-articles a{
    position: relative;
    font-family: var(--font-secundary);
    border-left: 3px solid var(--cor-destaque);
    padding: .5rem;
    transition: 100ms ease-in;
}
.menu-link:hover{
    padding: 10px;
    margin-left: 0;
}
.search-link{
    flex-basis: 50px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    border-radius: 3px;
    transition: 200ms ease-in;
}
.menu-item-search{
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    max-width: 1000px;
    margin: auto;
    z-index: 2;
}
.menu-hamburguer {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: 1s;
}
.line {
    display: none;
    width: 100%;
    height: 0.1rem;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px black;
    transition: transform 1s;
}
.show-menu #line1 {
    transform: rotate(45deg) translate(.30rem, .4rem);
    width: 70%;
}
.show-menu #line2 {
    opacity: 0;
    visibility: hidden;
}
.show-menu #line3 {
    transform: rotate(-45deg) translate(.25rem, -.4rem);
    width: 70%;
}
.config{
    position: relative;
    background-color: #e7e7e7;
    height: 40px;
    display: inline-flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px;
    border-radius: 3px;
}
.fa-volume-low, .fa-sun, .feed, .fa-star-half-stroke{
    font-size: 25px;
    cursor: pointer; 
    color: var(--cor-destaque); 
    transition: 200ms ease-in;
}
.fa-volume-low{
    right: 60px;
}
.dark-mode input{
    position: absolute;
    opacity: 0;
}
main {
    margin: 0 auto 2rem auto; 
    max-width: 1100px;
    background-color: rgb(248, 247, 247);
    padding: 1rem;
}
.autor{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    color: #2c2c2c;
}
.autor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.autor h4{
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: #2c2c2c;
    text-transform: uppercase;
}
.autor time{
    color: #424241;
    font-family: var(--font-primary);
}
.container-article{
    position: relative;
    display: flex;
    column-gap: 50px;
}
.article{
    position: relative;
    flex: 1;
}
.article h1{
    margin-top: 3rem;
    font-family: var(--font-primary);
    text-align: left;
    line-height: 2.5rem;
    font-size: 2.5rem;
    color: #424241;
}
article p{
    font-family: var(--font-secundary);
    font-size: 1.3rem;
    margin-top: 1.5rem;
    color: #313131;
}
.article-link{
    font-weight: 600;
    font-size: inherit;
}
.article-link{
    text-shadow: 1px .2px 1px rgba(0, 0, 0, 0.363);
}
.article-link:visited{
    color: #614681;
}
abbr{
    text-decoration: none;
    border-radius: 0 10px;
    border-bottom: .5px solid var(--cor-destaque);
    text-shadow: .2px .5px 1px rgba(0, 0, 0, 0.514);
}
.aside-article{
    background-color: #e7e7e7;
    width: 20%;
    height: fit-content;
    position: sticky;
    top: 150px;
    right: 0;
    padding: 10px;
    border-radius: 3px;
}
.aside-article-nav{
    display: flex;
    flex-direction: column;
}
.aside-article-nav h3{
    text-transform: uppercase;
    color: #424241;;
}
.aside-article-nav a{
    font-size: .9rem;
    padding: 5px 0;
    font-family: var(--font-secundary);
}
.artigos-relacionados{
    margin: 5rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.artigos-relacionados div{
    margin: 1rem;
    max-width: 400px;
    min-width: 300px;
    font-size: 1.7rem;
}
.artigos-relacionados p{
    height: auto;
}
.compartilhe{
    padding: 2rem 0;
}
.compartilhe p{
    display: inline;
    margin: 2rem .3rem .3rem 0; 
    font-family: var(--font-action);
    font-size: .9rem;
    color: #424241;
}
.compartilhe i{
    font-size: 1.3rem; 
    color: #424241;
    vertical-align: middle;
    transition: .1s ease-in;
}
.compartilhe-icons{ 
    margin-top: .5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.compartilhe-icons img{
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.compartilhe-icons img:hover{
    filter: drop-shadow(1px 1px 1px var(--cor-primaria));
}
.like {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid var(--cor-font);
    border-radius: 5px;
    min-width: 60px;
    height: 35px;
    padding: 5px;
    cursor: pointer;
}
.like:hover svg path {
    fill: #ff0000e1
}
footer{
    position: relative;
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 20px 0 0 0;
    min-height: calc(100vh - 60px);
}
.newsletter-message{
    padding-top: 3rem;
}
.newsletter-message > p:first-child{
    font-size: 1.7rem;
    color: #2c2c2c;
    max-width: 500px;
    margin: 2rem 0 0 50px;
    line-height: 1.9rem;
}
.newsletter{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0 4rem 0;
    width: 100%;
}
.sobre-mim h4{
    max-width: 400px;
    font-size: 1.7rem;
    color: #424241;
    text-transform: uppercase;
}
.sobre-mim{
    margin-top: 2rem;
    margin: 30px 0;
    color: #2c2c2c;
}
.sobre-mim-texto{
    max-width: 500px;
    font-family: var(--font-secundary);
    font-size: 1.2rem;
}
.rodape02{
    padding-top: 2rem;
    background-color: #ffffff;
}
.recommendation{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}
.recommendation div{
    flex: 1 1 300px;
    height: auto;
}
.recommendation h3{
    color: #424241
}
.recommendation li{
    list-style: none;
    border-left: 3px solid #2c2c2c;
    padding: .5rem;
    margin: .5rem 0;
    width: fit-content;
    transition: 100ms ease-in;
}
.media-sociais, 
.copyright{
    color: var(--cor-primaria);
}
.copyright{
    text-align: center;
    padding: .5rem;
    font-size: 1rem;
}
.media-sociais a i{
    margin: 1rem 1rem 0 0;
    font-size: 1.5rem;
    transition: 200ms ease;
}
.media-sociais a i:hover{
    color: var(--cor-primaria);
}
.link-topo{
    position: fixed;
    top: 90%;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    color: #fff;
    background: var(--cor-primaria);
    box-shadow: 1px 1px 3px var(--cor-font);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.fa-arrow-up{
    text-shadow: .1px .1px 1px #fff;
}
@media (max-width: 750px){
    h2{
        font-size: 2.3rem;
    }
    .aside-article{
        display: none;
    }
}    
@media (max-width: 919px){
   
}
@media (max-width: 750px) and (orientation: landscape){ 
   
}