/*Tema Claro */
body{
    background-color: var(--cor-primaria);
}
.line {
    background-color: #fff;
}
.logo, .header-article{
    background-color: var(--cor-primaria);
}
.menu-item, .menu-link {
    color: var(--cor-destaque);
}
.menu-link:hover,
main a:hover,
.social-media i:hover,
.artigos-relacionados div p a:hover,
.fa-arrow-alt-circle-left:hover,
.fa-arrow-alt-circle-right:hover,
.compartilhe a:hover{
    color: #fff;
}
main a:hover{
    text-shadow: 1px .2px 1px rgba(0, 0, 0, 0.363);
}
.fa-sun, .fa-star-half-stroke{
    color: #fff;
}
main {
    background-color: var(--cor-primaria);
}
main h1, article p, .compartilhe p, .compartilhe a,
footer p, footer a, footer q {
    color: #eee;
}
.compartilhe a:hover{
    color: var(--cor-destaque);
}