/*Tema Claro */
body, .menu-item-articles, main, .recommendation{
    background-color: var(--cor-primaria);
}
.line {
    background-color: var(--cor-destaque);
}
.logo, .header-fixed{
    background-color: var(--cor-primaria);
}
.menu-item, .menu-link, .fa-sun, .fa-star-half-stroke {
    color: var(--cor-destaque);
}
.menu-link:hover, .menu-item-articles a:hover, .search-link:hover, .recommendation li:hover{
    background-color: var(--cor-secundaria);
}
.menu-link:hover{
    padding: 10px;
    margin-left: 0;
}
.config{
    background-color: var(--cor-secundaria);
}
.menu-link:hover, main a:hover, .search-link:hover, .media-sociais a i:hover,
.fa-volume-low:hover, .fa-star-half-stroke:hover, .artigos-relacionados div p a:hover{
    color: #fff;
}
main a:hover{
    text-shadow: 1px .2px 1px rgba(0, 0, 0, 0.363);
}
.autor h4, .autor time, .article h1, .article p, .aside-article-nav h3,.compartilhe p, .count-motion,footer p, footer a,.newsletter-message > p:first-child, .sobre-mim h4, .recommendation h3, .recommendation li a{
    color: #eee;
}
.compartilhe-icons img:hover, .media-sociais a img{
    filter: drop-shadow(1px 1px 1px #fff);
}
.aside-article, footer, .newsletter-message, .rodape02{
    background-color: var(--cor-secundaria);
}
.menu-item-articles a:hover, .recommendation li:hover{
    font-weight: bold;
    margin-left: .3rem;
}