/*Tema Claro */
body{
    background-color: rgb(248, 247, 247);
}
.line {
    background-color: #ffffff;
}
.logo, .header-article, main{ 
    background-color: rgb(248, 247, 247);
}
.fa-sun, .fa-star-half-stroke{
    color: var(--cor-primaria);
}
.menu-link:hover, 
.social-media i:hover,
main a:hover,
.compartilhe a:hover{
    color: var(--cor-primaria);
}
main h1,
article p,
.compartilhe p,
.compartilhe a,
footer p,
footer a{
    color: #424241;
}
abbr{
    text-shadow: .2px .5px 1px rgba(0, 0, 0, 0.514);
}
.link-topo{
    background: var(--cor-destaque);
}