/*Tema Claro */
body{
    background-color: rgb(248, 247, 247);
}
.line {
    background-color: var(--cor-destaque);
}
.logo, .header-fixed, .navigation-menu, main{ 
    background-color: rgb(248, 247, 247);
}
.fa-sun, .fa-star-half-stroke, .search-link{
    color: var(--cor-destaque);
}
.menu-item-articles{
    background-color: rgb(248, 247, 247);
}
.aside-article{
    background-color: #e7e7e7;
}
.aside-article-nav h3{
    color: #424241;;
}

.menu-link:hover, .menu-item-articles a:hover, .search-link:hover,
main a:hover, .title-article-related:hover, .recommendation li a{
    color: var(--cor-primaria);
}
.menu-link img:hover, .search-link img:hover, .compartilhe-icons img:hover{
    filter: drop-shadow(1px 1px 1px rgb(68, 68, 68));
}
.config, .menu-link:hover, .menu-item-articles a:hover, .search-link:hover, .recommendation li:hover{
    background-color: #e7e7e7;
    margin-left: .2rem;
}
.autor h4, .autor time, .article h1, .article p, .compartilhe p, .compartilhe a, .sobre-mim h4, footer p, footer a{
    color: #424241;
}
abbr{
    text-shadow: .2px .5px 1px rgba(0, 0, 0, 0.514);
}
footer{
    background-color: rgb(240, 240, 240);
}
.newsletter-message > p:first-child{
    color: #2c2c2c;
}
.rodape02, .recommendation{
    background-color: #ffffff;
}
.recommendation h3{
    color: #424241
}
.media-sociais a i:hover{
    color: var(--cor-primaria);
}
.link-topo{
    background: var(--cor-destaque);
}